# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build/

# Testing
coverage/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Banco de dados SQLite
data/shortener.db
data/*.db

# Variáveis de ambiente locais
.env.local
.env*.local
